<h1>dashboard</h1>

<div class="row">
  <div class="col-md-4">
    <h2>Items
      <%= link_to 'Add an item', new_item_path, class: 'btn btn-primary' %>
    </h2>
    <%= render 'items' %>
  </div>
  <div class="col-md-4">
    <h2>Purchases</h2>
    <%= render 'purchased' %>
  </div>
  <div class="col-md-4">
    <h2>Sales</h2>
    <%= render 'sales' %>
  </div>
</div>
